.mybutton{
    font-size: 4rem;
    margin: 10px;
    border:none;
    border-radius: 5px;
    padding: 10px 15px;
    width: auto;
}


.enabled{
    background-color: aqua;
    color:white;
}

.hover{
    box-shadow: 0 0 10px rgb(53, 47, 47);
    font-weight: bold;

}

.disabled{
    background-color: gray;
    color: rgb(231, 225, 225);
    width: auto;
}