.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    
}

.slider img{
    width: 100%;
    display: none;
 
}

img.displayslide{
    display: block;
}

.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.205);
    color: azure;
    height: 60px;
    width: 45px;
    border-radius: 15px;
    border: none;
}

.prev{
    left: 0px;
}

.next{
    right: 0px;
}